
.new-arrivals h2{
    text-align: center;
    padding-top: 40px;
    font-size:xx-large;
}

.new-arrivals h3{
    padding-left: 40px;
    padding-top: 20px;
    font-size:x-large;
}

.img{
    display: flex;
    gap: 40px;
    padding-top: 10px;
    justify-content: center;
}

.img img{
    width: 200px;
}

.img h3{
    padding-top: 10px;
}

.button{
    padding-left: 40px;
    padding-top: 20px;
}

.button Button{
    padding-left: 40px;
    padding-right: 40px;
}


.customer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size:x-large;
}

.customer-content{
    display: flex;
    gap: 10px;
    padding: 20px;
}

.customer-content-1{
    background-color: rgb(240, 238, 238);
    border-radius: 5px;
    padding: 10px;
}

.customer-content-1 p{
    color: gray;
    font-size: small;
}

.update{
    background-color: black;
    color: white;
    padding: 20px 40px;
    display: flex;
    gap: 10px;
}

.update h1{
    font-size: xx-large;
    padding: 10px 20px;
}

.update-button button{
    display: flex;
    margin: 5px;
}