.footer{
    display: flex;
    gap: 80px;
    padding: 20px 40px;
}

.logo{
    font-family: sans-serif;
}

.logo h1{
    font-size: 25px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 20px;
}

.logo p{
    position:relative;
    font-size: small;
    color: gray;
}

.logo li{
    display: flex;
    gap: 10px;
}

.list h3{
    font-size: smaller;
    color: black;
}

.list ul li{
    font-size: small;
    color: gray;
}