.new-arrivals h3 {
    padding-left: 40px;
    padding-top: 20px;
    font-size: x-large;
}

.img {
    display: flex;
    gap: 40px;
    padding-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.img img {
    width: 200px;
}

/* Responsive adjustments for tablets and mobile screens */
@media (max-width: 992px) {
    /* Tablet */
    .new-arrivals h3 {
        padding-left: 20px;
        font-size: large;
    }

    .img img {
        width: 150px;
    }
}

@media (max-width: 768px) {
    /* Mobile */
    .new-arrivals h3 {
        padding-left: 10px;
        text-align: center;
        font-size: medium;
    }

    .img {
        gap: 20px;
    }

    .img img {
        width: 120px;
    }
}
